h1{
  color: #FFF;
}

.outputPanel{
  display:flex;
  justify-content: space-around;
}

.app{
  width:80%;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.button{
  display:flex;
  flex-flow : row wrap;
  justify-content: center;
}
button{
  height:3em;
  width:16em;
  border-radius: 0.6em;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.outputPanel{
  display:block;
  margin:1em;
}

.container{
  color:#FFF;
  text-align: center;
}

ul{
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

li > a{
  color: #FFF;
  text-decoration: none;
}

.AllContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about{
  width:80%;
  padding:1em;
  margin:auto;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > h1{
  color:#000;
}

input[type=text]{
  font-size: 16px;
  text-align:center;
  height:2em;
  color:#000;
  padding:0.5em;
  border-radius: 0.6em;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

@media all and (min-width: 320px) and (max-width: 767px) {

  button{
    height:2em;
    width:5.1em;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px){
  button{
    height:3em;
    width:12em;
  }
}